<%- include('partials/header') %>
<main class='block center'>
  <div id='loginFormWrapper' class='block center'>
    <form id="loginForm" class="block center" action='/passwordreset' method='post'>
    <h3>Reset password for <%- username %></h3>
    <div class='input'>
      <label for='newpassword'>New Password: </label>
      <input type='text' id='newpassword' name='newpassword' placeholder='Enter your new password'>
    </div>

    <div class='input'>
      <label for='newpasswordconfirm'>Confirm Password: </label>
      <input type='text' id='newpasswordconfirm' name='newpasswordconfirm' placeholder='Re-enter your password'>
    </div>

    <button type='submit' name='submit' value='submit'>Change Password</button>
  </form>
  </div>

  <!-- Messages -->
  <div class="errListContainer">
    <% if(passwordResetPostErr) { %>
      <ul>
        <% if(passwordResetPostErr !== 'success') { %>
          <% passwordResetPostErr.forEach((pErr) => { %>
            <li><%- pErr.msg %></li>
          <% }); %>
        <% } %>
      </ul>
    <% } %>

    <% if(passwordResetErr) { %>
      <ul>
        <li><%- passwordResetErr %></li>
      </ul>
    <% } %>
  </div>

  <div class="successListContainer">
    <% if(passwordResetPostErr) { %>
      <ul>
      <% if(passwordResetPostErr == 'success') { %>
        <ul>Password reset successful</ul>
      <% } %>
     </ul>
    <% } %>
  </div>
</main>
<%- include('partials/footer') %>